.App {
  background-color: #282c34;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #142044;
}

.App-link {
  color: #61dafb;
}

.App-list {
  padding: 1em 0;
}